In [53]:
import pandas as pd
import numpy as np

#### Import source

In [54]:
df=pd.read_csv('./source/equinox2020.csv')
df

,NGA,Polity,Section,Subsection,Variable,Value.From,Value.To,Date.From,Date.To,Fact.Type,Value.Note,Date.Note
0,Kachi Plain,AfDurrn,General variables,NaN,RA,Stephen Dean,NaN,NaN,NaN,complex,list,NaN
1,Kachi Plain,AfDurrn,General variables,NaN,RA,Alice Williams,NaN,NaN,NaN,complex,list,NaN
2,Kachi Plain,AfDurrn,General variables,NaN,Original name,Durrani Empire,NaN,NaN,NaN,simple,simple,NaN
3,Kachi Plain,AfDurrn,General variables,NaN,Alternative names,Sadozai Kingdom,NaN,NaN,NaN,complex,list,NaN
4,Kachi Plain,AfDurrn,General variables,NaN,Alternative names,Last Afghan Empire,NaN,NaN,NaN,complex,list,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
47472,Yemeni Coastal Plain,YeZiyad,Religion and Normative Ideology,Moralizing Supernatural Powers,Moralizing religion adopted by elites,present,NaN,NaN,NaN,simple,simple,NaN
47473,Yemeni Coastal Plain,YeZiyad,Religion and Normative Ideology,Moralizing Supernatural Powers,Moralizing religion adopted by commoners,present,NaN,NaN,NaN,simple,simple,NaN
47474,Yemeni Coastal Plain,YeZiyad,Religion and Normative Ideology,Moralizing Supernatural Powers,Moralizing enforcement in afterlife,present,NaN,NaN,NaN,simple,simple,NaN
47475,Yemeni Coastal Plain,YeZiyad,Religion and Normative Ideology,Moralizing Supernatural Powers,Moralizing enforcement in this life,present,NaN,NaN,NaN,simple,simple,NaN
47476,Yemeni Coastal Plain,YeZiyad,Religion and Normative Ideology,Moralizing Supernatural Powers,Moralizing enforcement is agentic,present,NaN,NaN,NaN,simple,simple,NaN

#### Make a subset related to population data only:

In [55]:
df_pops = df[df['Variable']=='Polity Population'][['NGA', 'Polity', 'Value.From', 'Value.To', 'Date.From', 'Date.To']]
df_pops.set_index('Polity', inplace=True)
df_pops.rename({'Value.From': 'Pop_Min', 'Value.To': 'Pop_Max', 'Date.From': 'From_Year', 'Date.To': 'To_Year'}, axis=1, inplace=True)
df_pops

                          NGA            Pop_Min   Pop_Max From_Year To_Year
Polity
AfGrBct              Sogdiana            1500000   2000000    200BCE     NaN
AfHepht              Sogdiana           26500000       NaN     500CE     NaN
AfKidar              Sogdiana            1000000   1500000       NaN     NaN
AfKushn              Sogdiana           12500000  13500000     100CE     NaN
AfKushn              Sogdiana           14000000  15000000     200CE     NaN
...                       ...                ...       ...       ...     ...
YeHmyr1  Yemeni Coastal Plain             300000    500000       NaN     NaN
YeHmyr2  Yemeni Coastal Plain             300000    500000       NaN     NaN
YeLBA**  Yemeni Coastal Plain            unknown       NaN       NaN     NaN
YeNeoL*  Yemeni Coastal Plain            unknown       NaN       NaN     NaN
YeTahir  Yemeni Coastal Plain  suspected unknown       NaN       NaN     NaN

[395 rows x 5 columns]

#### Drop all rows where there is no actually population data:

In [56]:
df_pops.drop(df_pops[df_pops['Pop_Min'].isin(['unknown', 'suspected unknown']) | df_pops['Pop_Max'].isin(['unknown', 'suspected unknown'])].index, inplace=True)
df_pops

                          NGA   Pop_Min   Pop_Max From_Year To_Year
Polity
AfGrBct              Sogdiana   1500000   2000000    200BCE     NaN
AfHepht              Sogdiana  26500000       NaN     500CE     NaN
AfKidar              Sogdiana   1000000   1500000       NaN     NaN
AfKushn              Sogdiana  12500000  13500000     100CE     NaN
AfKushn              Sogdiana  14000000  15000000     200CE     NaN
...                       ...       ...       ...       ...     ...
UzSamnd              Sogdiana   6000000       NaN     900CE     NaN
UzSogdi              Sogdiana     15000     50000       NaN     NaN
UzTimur              Sogdiana  49000000       NaN    1400CE     NaN
YeHmyr1  Yemeni Coastal Plain    300000    500000       NaN     NaN
YeHmyr2  Yemeni Coastal Plain    300000    500000       NaN     NaN

[348 rows x 5 columns]

#### Replace missing values:

In [57]:
df_pops.fillna(value='0', inplace=True)
df_pops

                          NGA   Pop_Min   Pop_Max From_Year To_Year
Polity
AfGrBct              Sogdiana   1500000   2000000    200BCE       0
AfHepht              Sogdiana  26500000         0     500CE       0
AfKidar              Sogdiana   1000000   1500000         0       0
AfKushn              Sogdiana  12500000  13500000     100CE       0
AfKushn              Sogdiana  14000000  15000000     200CE       0
...                       ...       ...       ...       ...     ...
UzSamnd              Sogdiana   6000000         0     900CE       0
UzSogdi              Sogdiana     15000     50000         0       0
UzTimur              Sogdiana  49000000         0    1400CE       0
YeHmyr1  Yemeni Coastal Plain    300000    500000         0       0
YeHmyr2  Yemeni Coastal Plain    300000    500000         0       0

[348 rows x 5 columns]

#### Let's deal with some values that represent a range as opposite to a single number:

In [58]:
df_pops[df_pops['Pop_Min'].str.contains('-')]

,NGA,Pop_Min,Pop_Max,From_Year,To_Year
Polity,,,,,
CnEHan*,Middle Yellow River Valley,480000-53869588,0,126CE,141CE
CnEHan*,Middle Yellow River Valley,49150220-49730550,0,142CE,144CE

#### We will now assign the mean of the range instead of the range itself.
#### But first we will correct an obvious error in the dataset:  it's quite clear that 4800000 should be used instead of 480000:

In [59]:
df_pops.at['CnEHan*', 'Pop_Min'] = str(np.mean([40800000, 53869588]))
df_pops.at['CnEHan*', 'Pop_Min'] = str(np.mean([49150220, 49730550]))
df_pops[df_pops['Pop_Min'].str.contains('-')].count()

NGA          0
Pop_Min      0
Pop_Max      0
From_Year    0
To_Year      0
dtype: int64

#### Remove 'BCE' and 'CE' (while saving indexes of correspoding rows):

In [60]:
bce_from = df_pops[df_pops['From_Year'].str.contains('BCE')==True].index
bce_to = df_pops[df_pops['To_Year'].str.contains('BCE')==True].index

In [61]:
df_pops['From_Year'].where(df_pops['From_Year'].str.contains('BCE')!=True, other=df_pops['From_Year'].str.replace('BCE', ''), inplace=True)
df_pops['To_Year'].where(df_pops['To_Year'].str.contains('BCE')!=True, other=df_pops['To_Year'].str.replace('BCE', ''), inplace=True)
df_pops

                          NGA   Pop_Min   Pop_Max From_Year To_Year
Polity
AfGrBct              Sogdiana   1500000   2000000       200       0
AfHepht              Sogdiana  26500000         0     500CE       0
AfKidar              Sogdiana   1000000   1500000         0       0
AfKushn              Sogdiana  12500000  13500000     100CE       0
AfKushn              Sogdiana  14000000  15000000     200CE       0
...                       ...       ...       ...       ...     ...
UzSamnd              Sogdiana   6000000         0     900CE       0
UzSogdi              Sogdiana     15000     50000         0       0
UzTimur              Sogdiana  49000000         0    1400CE       0
YeHmyr1  Yemeni Coastal Plain    300000    500000         0       0
YeHmyr2  Yemeni Coastal Plain    300000    500000         0       0

[348 rows x 5 columns]

In [62]:
df_pops['From_Year'].where(df_pops['From_Year'].str.contains('CE')!=True, other=df_pops['From_Year'].str.replace('CE', ''), inplace=True)
df_pops['To_Year'].where(df_pops['To_Year'].str.contains('CE')!=True, other=df_pops['To_Year'].str.replace('CE', ''), inplace=True)
df_pops

                          NGA   Pop_Min   Pop_Max From_Year To_Year
Polity
AfGrBct              Sogdiana   1500000   2000000       200       0
AfHepht              Sogdiana  26500000         0       500       0
AfKidar              Sogdiana   1000000   1500000         0       0
AfKushn              Sogdiana  12500000  13500000       100       0
AfKushn              Sogdiana  14000000  15000000       200       0
...                       ...       ...       ...       ...     ...
UzSamnd              Sogdiana   6000000         0       900       0
UzSogdi              Sogdiana     15000     50000         0       0
UzTimur              Sogdiana  49000000         0      1400       0
YeHmyr1  Yemeni Coastal Plain    300000    500000         0       0
YeHmyr2  Yemeni Coastal Plain    300000    500000         0       0

[348 rows x 5 columns]

#### Convert years values to integers:

In [63]:
df_pops['From_Year'] = pd.to_numeric(df_pops['From_Year'])
df_pops['To_Year'] = pd.to_numeric(df_pops['To_Year'])
df_pops['Pop_Min'] = pd.to_numeric(df_pops['Pop_Min'])
df_pops['Pop_Max'] = pd.to_numeric(df_pops['Pop_Max'])

#### Assign negative signs to 'BCE' values:

In [64]:
df_pops.loc[bce_from,'From_Year'] = -df_pops.loc[bce_from,'From_Year']
df_pops.loc[bce_to,'To_Year'] = -df_pops.loc[bce_to,'To_Year']

In [65]:
df_pops

                          NGA     Pop_Min   Pop_Max  From_Year  To_Year
Polity
AfGrBct              Sogdiana   1500000.0   2000000       -200        0
AfHepht              Sogdiana  26500000.0         0        500        0
AfKidar              Sogdiana   1000000.0   1500000          0        0
AfKushn              Sogdiana  12500000.0  13500000        100        0
AfKushn              Sogdiana  14000000.0  15000000        200        0
...                       ...         ...       ...        ...      ...
UzSamnd              Sogdiana   6000000.0         0        900        0
UzSogdi              Sogdiana     15000.0     50000          0        0
UzTimur              Sogdiana  49000000.0         0       1400        0
YeHmyr1  Yemeni Coastal Plain    300000.0    500000          0        0
YeHmyr2  Yemeni Coastal Plain    300000.0    500000          0        0

[348 rows x 5 columns]

In [66]:
df_pops[df_pops['NGA']=='Paris Basin']

                 NGA     Pop_Min   Pop_Max  From_Year  To_Year
Polity
FrAtlBA  Paris Basin      1000.0      2000          0        0
FrBeakr  Paris Basin       800.0      1200          0        0
FrBurbE  Paris Basin  18500000.0         0       1600        0
FrBurbE  Paris Basin  21000000.0         0       1650        0
FrBurbL  Paris Basin  21800000.0         0       1685        0
FrBurbL  Paris Basin  23400000.0         0       1715        0
FrBurbL  Paris Basin  25300000.0         0       1745        0
FrBurbL  Paris Basin  28500000.0         0       1789        0
FrCaptE  Paris Basin    500000.0   1000000          0        0
FrCaptL  Paris Basin   3000000.0         0       1150        0
FrCaptL  Paris Basin   4000000.0         0       1200        0
FrCaptL  Paris Basin  14000000.0         0       1250        0
FrCaptL  Paris Basin  17000000.0         0       1300        0
FrCarlE  Paris Basin  15000000.0         0        811        0
FrCarlE  Paris Basin  20000000.0         0        811        0
FrCarlL  Paris Basin   7000000.0   9000000        840      856
FrCarlL  Paris Basin   5000000.0   7000000        857      899
FrCarlL  Paris Basin   4000000.0   5000000        900      987
FrHallA  Paris Basin       100.0      1000          0        0
FrHallC  Paris Basin      3000.0      5000          0        0
FrMervE  Paris Basin   1250000.0   1750000          0        0
FrMervL  Paris Basin    800000.0   1200000          0        0
FrMervM  Paris Basin    800000.0   1200000        600        0
FrTeneB  Paris Basin     70000.0     80000          0        0
FrTeneC  Paris Basin     70000.0     80000          0        0
FrValoE  Paris Basin  11500000.0         0       1350        0
FrValoE  Paris Basin   9000000.0         0       1400        0
FrValoE  Paris Basin   9500000.0         0       1450        0
FrValoL  Paris Basin  10000000.0  12000000       1470        0
FrValoL  Paris Basin  16000000.0         0       1500        0
FrValoL  Paris Basin  18000000.0         0       1515        0
FrValoL  Paris Basin  20000000.0         0       1560        0

#### Save as pickle:

In [67]:
df_pops.to_pickle('./populations.pkl')