In [440]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [441]:
df=pd.read_pickle('./populations.pkl')
df.sort_values('NGA', inplace=True)
df

                          NGA    Pop_Min  Pop_Max  From_Year  To_Year
Polity
MxAztec       Basin of Mexico  3000000.0  4000000          0        0
MxPostM       Basin of Mexico   700000.0   800000          0        0
MxToltc       Basin of Mexico   150000.0   200000          0        0
USKameh     Big Island Hawaii    60000.0   180000       1800        0
Hawaii2     Big Island Hawaii     3500.0     7000       1200        0
...                       ...        ...      ...        ...      ...
MxAlb3B      Valley of Oaxaca     7245.0     9660          0        0
MxAlb5*      Valley of Oaxaca     8127.0    10836          0        0
YeHmyr1  Yemeni Coastal Plain   300000.0   500000          0        0
EtAksm1  Yemeni Coastal Plain   500000.0   600000          0        0
YeHmyr2  Yemeni Coastal Plain   300000.0   500000          0        0

[348 rows x 5 columns]

In [467]:
df[df['To_Year']!=0]

                                NGA     Pop_Min   Pop_Max  From_Year  To_Year
Polity
InDecIA                      Deccan     20000.0     25000       -599     -300
InSataL                      Deccan   7250000.0   8250000          0     -100
InSataL                      Deccan   7000000.0   8000000       -100       -1
InSataL                      Deccan   8000000.0   9000000       -101     -203
InDecIA                      Deccan      5000.0     15000       -999     -600
InDecIA                      Deccan       500.0      1000      -1200    -1000
IlYisrl                     Galilee    300000.0    400000       -800     -722
IlYisrl                     Galilee     40000.0     50000      -1030    -1000
IlCanaa                     Galilee      5000.0     60000      -1550    -1175
IlCanaa                     Galilee      5000.0     40000      -2000    -1551
JpKofun                      Kansai    200000.0    300000        401      500
JpKofun                      Kansai    250000.0    350000        500      537
JpKofun                      Kansai    150000.0    200000        250      400
JpAsuka                      Kansai   1500000.0   2000000        538      600
JpAsuka                      Kansai   2000000.0   3000000        601      709
CnWZhou  Middle Yellow River Valley  13500000.0         0       -956     -795
CnWZhou  Middle Yellow River Valley   9000000.0  12000000      -1045     -957
CnWHan*  Middle Yellow River Valley  45000000.0  60000000       -200        9
CnEHan*  Middle Yellow River Valley  49440385.0         0        142      144
CnEHan*  Middle Yellow River Valley  49440385.0         0        126      141
CoTairo              North Colombia      1087.0      2174        900     1349
CoTairo              North Colombia      7200.0      8000       1350     1525
MnXngnE               Orkhon Valley     25000.0     50000      -1400     -500
MnXngnE               Orkhon Valley     50000.0    100000       -400     -300
FrCarlL                 Paris Basin   5000000.0   7000000        857      899
FrCarlL                 Paris Basin   7000000.0   9000000        840      856
FrCarlL                 Paris Basin   4000000.0   5000000        900      987
IqUruk*        Southern Mesopotamia     20000.0     38540      -4200    -3501
IqUruk*        Southern Mesopotamia     21300.0     41000      -3500    -3000
IrSasn2                     Susiana   8900000.0         0        499      550
IrSasn2                     Susiana  12700000.0         0        551      619
IrSasn2                     Susiana  22100000.0         0        620      642
IrQajar                     Susiana   6000000.0  10000000       1800     1900
IrSusa1                     Susiana      8000.0     12000      -4300    -4000
IrSusa1                     Susiana       800.0      1200      -3999    -3800
IrSusa2                     Susiana     10000.0     19000      -3800    -3501
IrSusa2                     Susiana     10000.0     25000      -3500    -3401
IrSusa2                     Susiana     21000.0     25000      -3400    -3201
IrSusa2                     Susiana      6900.0         0      -3200    -3101
EgPtol2                 Upper Egypt   4000000.0         0       -217     -151
EgNaqa2                 Upper Egypt     50000.0         0      -3400    -3300
EgPtol2                 Upper Egypt   4000000.0         0       -150      -32
EgPtol2                 Upper Egypt   2500000.0         0       -150      -32